.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px 16px;
    background-color: #2a3b49;
}

.header-container h1 {
    font-size: 36px;
    font-weight: 300;
    color: #7BFFE9;

    cursor: pointer;
}

.burger {
    display: none;
}

#menuchk {
    display: none;
}

.links-container {
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link {
    color: white;
    font-size: 18px;
    font-weight: 300;
}

.user {
    color: white;
    font-size: 18px;
    font-weight: 300;
}

.signin {
    color: #7BFFE9;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #7BFFE9;
    border-radius: 20px;
    padding: 8px 16px;
}

.darkmode-btn {
    color: #7BFFE9;
    font-size: 18px;
    background: none;
    border: none;

    cursor: pointer;
}

/* Tablet Display Setting */
@media screen and (max-width: 1000px) {
    .links-container {
        width: 65%;
    }
}

/* Small Phone Display Setting */
@media screen and (max-width: 400px) {
    .burger {
        display: block;
        color: #7BFFE9;
        font-size: 28px;
    }

    #menuchk:checked + .links-container {
        background-color: #2a3b49;
        padding: 16px 4px;
        display: flex;
        position: absolute;
        top: 56px;
        right: 0;
    }

    .links-container {
        display: none;
        width: 100%;
    }
}